.container{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.list{
    display: flex;
    width: 200px;
    justify-content: space-between;
    list-style-type: none;
    background-color: aquamarine;
}
.logo{
    color: aqua;
    font-size: 50px;
    background-color: blueviolet;
}
.header-container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    
}
